<template>
    <v-container>
        <v-row>
            <PlayersBar :players="players"></PlayersBar>
        </v-row>
    </v-container>
</template>

<script>
    import PlayersBar from "../components/PlayersBar";
    export default {
        name: "PlayableArea",
        components: {PlayersBar},
        computed: {
            players: function() {
                return this.$store.getters.getRoom.players;
            }
        }
    }
</script>

<style scoped>

</style>