<template>
    <v-container>
        <v-dialog dark fullscreen v-model="greeting" transition="fade" overlay-color="black" overlay-opacity="0">
            <div id="first-look" v-show="greeting">
                <img id="welcome_text_svg" src="../assets/startlogo.png" alt="hello">
            </div>
        </v-dialog>
        <v-row justify="center" align="center">
            <v-card dark width="50vw">
                <v-card-title>
                    <span>Представься&nbsp;<s>мразь</s></span>
                </v-card-title>
                <v-card-text>
                    <v-form>
                        <v-text-field dark outlined v-model="nickname" :rules="nickrule" counter
                                      label="Ник"></v-text-field>
                        <v-file-input dark outlined v-model="image" accept="image/*" label="Аватар"
                                      prepend-icon="mdi-camera"></v-file-input>
                        <v-text-field dark outlined v-model="serverCode" :rules="rules" counter minlength="4"
                                      maxlenth="4"
                                      label="Код комнаты"></v-text-field>
                        <v-label dark>Адрес сервера</v-label>
                        <v-row>
                            <v-col cols="12" sm="9" md="9">
                                <v-text-field dark outlined v-model="serverIP" label="IP сервера"
                                              placeholder="localhost" append-outer-icon=":"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="3" md="3">
                                <v-text-field dark outlined v-model="serverPort" placeholder="8888"
                                              label="Порт"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-form>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn dark color="green darken-1" text @click="connect">Войти</v-btn>
                    </v-card-actions>
                </v-card-text>
            </v-card>
        </v-row>
        <v-dialog dark v-model="dialog" id="room-content">
            <v-card dark>
                <v-card-title>
                    Кто там в комнате?
                </v-card-title>
                <v-card-text class="d-flex flex-row flex-wrap">
                    <v-card v-for="(player,num) in response.msg" :key="num" class="mx-auto"
                            max-width="434">
                        <v-card-title>{{player.name}}</v-card-title>
                        <v-card-text>
                            <v-row>
                                <img class="player-ava"
                                     :src="player.ava.length > 0 ? player.ava : require('../assets/clwn.jpg')"
                                     :alt="player.name">
                                <span class="headline">Score: {{player.score}}</span>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-card-text>
                <v-card-actions>
                    <v-btn dark outlined color="red darken-1" text @click="disconnect">Давай другую</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn dark outlined color="green darken-1" text @click="enterRoom">Ясно</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import anime from 'animejs';

    export default {
        name: "StartScreen",
        data() {
            return {
                rules: [v => v.length === 4 || '4 символа'],
                nickrule: [v => v.length >= 3 || 'Ник должен быть больше 3 символов'],
                dialog: false,
                logText: '',
                socket: null,
                greeting: true,
                nickname: '',
                serverCode: '',
                serverIP: 'localhost',
                serverPort: '8888',
                image: null,
                response: {
                    msg: []
                }
            }
        },
        methods: {
            toBase64: function () {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(this.image);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            },
            enterRoom: function() {
                this.$router.push('/game');
            },
            disconnect: function () {
                this.socket.close(1000, 'I\'m done');
                setTimeout(() => {
                    this.dialog = false;
                }, 1000)
            },
            connect: function () {
                if (this.nickname.length < 3 || this.serverCode.length !== 4) return;
                let socket = this.socket = new WebSocket(`ws://${this.serverIP}:${this.serverPort}/ws`);

                socket.onopen = async () => {
                    let loginData = {
                        type: 'login',
                        nick: this.nickname,
                        code: this.serverCode,
                        ava: ''
                    };
                    if (this.image) {
                        await this.toBase64().then(res => {
                            loginData.ava = res
                        });
                    }
                    socket.send(JSON.stringify(loginData));
                };

                socket.onmessage = (event) => {
                    let response = JSON.parse(event.data);
                    if (response.success) {
                        this.response.msg = JSON.parse(response.msg)
                        let room = {
                            players: this.response.msg,
                            code: this.serverCode
                        }
                        this.$store.commit('enterRoom', room);
                        this.$store.commit('setToken', response.token);
                        this.$store.commit('setWS', socket);
                    }
                    this.dialog = true;
                };

                socket.onclose = (event) => {
                    if (event.wasClean) {
                        this.logText += (`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}\n`);
                    } else {
                        this.logText += ('[close] Соединение прервано\n');
                    }
                };
                socket.onerror = (error) => {
                    this.logText += `[error] ${error.message}\n`;
                };
            },
            generateFrames: function () {
                let framesArray = [];
                let actionsCount = anime.random(4, 12);
                for (let i = 0; i < actionsCount; i++) {
                    framesArray.push({
                        translateY: () => {
                            return anime.random(0, window.innerHeight - (window.innerHeight * 0.15));
                        },
                        translateX: () => {
                            return anime.random(0, window.innerWidth - (window.innerWidth * 0.15));
                        },
                        rotate: function () {
                            return anime.random(0, 30);
                        },
                    })
                }
                return framesArray;
            },
            playGreeting: function () {
                let duration = anime.random(5000, 8000);
                anime({
                    targets: '#welcome_text_svg',
                    keyframes: [...this.generateFrames(),
                        {
                            translateX: 0, rotate: function () {
                                return anime.random(0, 15);
                            },
                        },
                        {
                            translateY: 0, rotate: function () {
                                return anime.random(0, 15);
                            },
                        }
                    ],
                    easing: 'easeOutElastic(1, .8)',
                    duration: duration,
                    loop: true
                });
                setTimeout(() => {
                    anime({
                        targets: '#first-look',
                        opacity: 0,
                        duration: 300,
                        easing: 'linear',
                        complete: () => {
                            this.greeting = false;
                        }
                    });
                }, duration)
            }
        },
        mounted() {
            this.playGreeting();
        }
    }
</script>

<style scoped>
    #first-look {
        margin: 0;
        padding: 0;
        width: inherit;
        height: inherit;
        background: black;
        z-index: 9999;
    }

    #room-content {
        background: black;
        opacity: 0;
    }

    #welcome_text_svg {
        position: relative;
    }

    .player-ava {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
</style>