<template>
    <v-app dark id="app-main">
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        created() {
            this.$router.push('/start')
        }
    };
</script>

<style scoped>
    #app-main {
        position: relative;
        background: #0e3516;
        height: inherit;
    }
</style>
<style src="../src/assets/font.css"></style>