<template>
    <v-card
            height="100%"
            width="256"
    >
        <v-navigation-drawer permanent>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="title">
                        Игроки
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list dense nav>
                <PlayerCard v-for="(player, num) in players" :key="num" :player="player"></PlayerCard>
            </v-list>
        </v-navigation-drawer>
    </v-card>
</template>

<script>
    import PlayerCard from "./PlayerCard";

    export default {
        name: "PlayersBar",
        components: {PlayerCard},
        props: {
            players: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>