<template>
    <v-list-item>
        <v-list-item-content>
            <v-list-item-title v-text="player.score"></v-list-item-title>
        </v-list-item-content>
        <v-list-item-content>
            <v-list-item-title v-text="player.name"></v-list-item-title>
        </v-list-item-content>
        <v-list-item-avatar>
            <v-img :src="player.ava.length > 0 ? player.ava : require('../assets/clwn.jpg')"></v-img>
        </v-list-item-avatar>
    </v-list-item>
</template>

<script>
    export default {
        name: "PlayerCard",
        props: {
            player: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>